@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
    background: linear-gradient(
    to right,
    #0B0606 0%,
    #1A1313 22%,
    #5E4AB0 100%
  );
}

.arrow1{
    margin-left: 260px;
    margin-top: 10px;
}

.arrow2{

}

p{
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 100px;
    font-size: 50px;
    font-family: "Playfair Display", serif;
}