@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paprika&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prociono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  margin: 0;
  font-family: "Georgia", serif;
  background: url("img/pizza.png") center/cover no-repeat;
  min-height: auto;
}

.logo {
  width: 170px;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  /* max-width: 1200px;
  margin: 0 auto; */
}

a {
  font-family: "Nata Sans", sans-serif;
  font-size: 19px;
  font-weight: bold;
  color: #534e4e;
  text-decoration: none;
  transition: 0.3s ease;
}

a:hover {
  color: rgba(255, 255, 255, 0.905);
  text-shadow: #ffffff;
  padding-bottom: 10px;
  text-shadow: 0 10px 25px rgb(255, 255, 255);
}

.search-box {
  background-color: transparent;
  border: 1px solid#555;
  border-radius: 65px;
  padding: 5px 10px;
  /* можно менять ширину */
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  /* текст белый на темном фоне */
  font-size: 14px;
}

.search-box input::placeholder {
  color: #aaa;
  /* серый плейсхолдер */
}

.search-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.container {
  /* max-width: 1200px;
  margin: 0 auto; */
  margin: 20px;
}

.blur-card {
  display: flex;
  justify-content: space-around;
  height: 450px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
}

.images img {
  width: 300px;
  height: 420px;
  margin-top: 25px;
  margin-left: 20px;
  object-fit: cover;
  border-radius: 50px;
}

.images {
  display: flex;
  gap: 20px;
}

.text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 40%;
}

.promo {
  font-family: "Platypi", serif;
  font-weight: lighter;
  line-height: 1.2;
  font-size: clamp(28px, 5.4vw, 52px);
  text-shadow: 0 6px 18px rgba(0, 0, 0, 0.45);
  transition: text-shadow 0.5s ease;
}

.promo:hover {
  text-shadow: 0 5px 25px rgb(255, 255, 255);
}

.lead {
  margin: 0;
  margin-left: 60px;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Paprika", system-ui;
}

.cards {
  background: linear-gradient(#151414, #7b7777);
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.card-one {
  background-color: #98cd8f;
  width: 420px;
  border-radius: 60px;
  text-align: center;
  font-family: "Prociono", serif;
  font-size: 12px;
  font-weight: lighter;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.452);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.img1 {
  width: 340px;
  margin-top: 35px;
}

.card-one:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 25px rgb(104, 165, 92);
}

.button-1 {
  background-color: #deddddc0;
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-family: "Platypi", serif;
  border: 2px solid #91919193;
  width: 150px;
  border-radius: 12px;
  padding-left: 10px;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-1:hover {
  background-color: #649f64;
  color: #000;
}

.card-footer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 0;
}

.heart {
  font-size: 50px;
  cursor: pointer;
}

.heart::before {
  content: "♡";
  transition: color 0.3s ease, transform 0.2s ease;
  color: black;
}

.heart:hover::before {
  content: "♥";
  color: rgb(212, 207, 207);
  transform: scale(1.1);
}

.dots {
  font-size: 28px;
  cursor: pointer;
  transition: color 0.3s;
  color: black;
}

.card-two {
  background-color: #e8e8db;
  width: 420px;
  border-radius: 60px;
  font-family: "Prociono", serif;
  font-size: 12px;
  text-align: center;
  font-weight: lighter;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.452);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.img2 {
  width: 275px;
  margin-top: -50px;
}

.button-2 {
  background-color: #deddddc0;
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-family: "Platypi", serif;
  border: 2px solid #91919193;
  width: 130px;
  border-radius: 12px;
  margin-top: 90px;
  padding-left: 10px;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-2:hover {
  background-color: #b0b2b0;
  color: #000;
}

.card-two:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 30px rgb(255, 255, 255);
}

.card-footer2 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0px 50px 0;
}

.card-three {
  background: linear-gradient(#c01c1cca, #5b0101);
  width: 420px;
  border-radius: 60px;
  font-family: "Prociono", serif;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.452);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.img3 {
  width: 340px;
  margin-top: 35px;
}

.button-3:hover {
  background-color: #000000;
  color: #ffffff;
  border: #000000;
}

.card-three:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 30px rgb(255, 0, 0);
}

.button-3 {
  background-color: #deddddc0;
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-family: "Platypi", serif;
  border: 2px solid #91919193;
  width: 130px;
  border-radius: 12px;
  padding-left: 10px;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.card-four {
  background: linear-gradient(
    220deg,
    rgb(185, 179, 63, 0.5) 0%,
    #bcaf4e 40%,
    rgba(255, 85, 13, 0.5) 90%
  );
  width: 420px;
  margin-top: 50px;
  border-radius: 60px;
  font-family: "Prociono", serif;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.452);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.img4 {
  width: 275px;
  margin-top: -70px;
}

.card-four:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 30px rgb(255, 242, 0);
}

.button-4 {
  background-color: #deddddc0;
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-family: "Platypi", serif;
  border: 2px solid #91919193;
  width: 130px;
  border-radius: 12px;
  padding-left: 10px;
  text-align: center;
  margin-top: 80px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-4:hover {
  background-color: #c0b250;
  color: #000;
}

.card-five {
  background: linear-gradient(rgb(70, 158, 96, 0.7), rgb(58, 89, 8, 0.8));
  width: 420px;
  border-radius: 60px;
  margin-top: 50px;
  font-family: "Prociono", serif;
  font-size: 12px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.452);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.img5 {
  width: 340px;
  margin-top: 35px;
}

.card-five:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 30px rgb(35, 230, 45);
}

.button-5 {
  background-color: #deddddc0;
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-family: "Platypi", serif;
  border: 2px solid #91919193;
  width: 130px;
  border-radius: 12px;
  padding-left: 10px;
  text-align: center;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-5:hover {
  background-color: #389444;
  color: #000;
}

.card-six {
  background: linear-gradient(
    to bottom,
    rgb(8, 8, 8) 15%,
    rgb(129, 4, 4) 55%,
    rgb(255, 0, 0, 0.8) 100%
  );
  width: 420px;
  margin-top: 50px;
  border-radius: 60px;
  font-family: "Prociono", serif;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.452);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.img6 {
  width: 275px;
  margin-top: -70px;
}

.card-six:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 30px rgb(0, 0, 0);
}

.button-6 {
  background-color: #deddddc0;
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-family: "Platypi", serif;
  border: 2px solid #91919193;
  width: 130px;
  border-radius: 12px;
  padding-left: 10px;
  text-align: center;
  margin-top: 80px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-6:hover {
  background-color: #000000;
  color: #ffffff;
  border: #000000;
}

.card-seven {
  background: linear-gradient(-150deg, #7c45be 0%, #1a9615cc 100%);
  width: 420px;
  margin-top: 50px;
  border-radius: 60px;
  font-family: "Prociono", serif;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.452);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.img7 {
  width: 200px;
  margin-top: -70px;
}

.card-seven:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 30px rgb(166, 93, 255);
}

.button-7 {
  background-color: #deddddc0;
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-family: "Platypi", serif;
  border: 2px solid #91919193;
  width: 130px;
  border-radius: 12px;
  padding-left: 10px;
  text-align: center;
  margin-top: 80px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-7:hover {
  background-color: #46b079;
  color: #000;
}

.card-eight {
  background: linear-gradient(to left, rgb(30, 7, 124) 5%, rgb(19, 0, 0) 100%);
  width: 420px;
  border-radius: 60px;
  margin-top: 50px;
  font-family: "Prociono", serif;
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
  color: white;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.452);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.img8 {
  width: 340px;
  margin-top: 35px;
}

.card-eight:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 30px rgb(45, 0, 223);
}

.button-8 {
  background-color: #deddddc0;
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-family: "Platypi", serif;
  border: 2px solid #91919193;
  width: 130px;
  border-radius: 12px;
  padding-left: 10px;
  text-align: center;
  color: black;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-8:hover {
  background-color: rgb(37, 37, 155);
  border: #22067c;
  color: #fff;
}

.card-nine {
  background: linear-gradient(to left, #d49a49 0%, #130000 100%);
  width: 420px;
  margin-top: 50px;
  border-radius: 60px;
  font-family: "Prociono", serif;
  font-size: 12px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.452);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.img9 {
  width: 200px;
  margin-top: -70px;
}

.card-nine:hover {
  transform: scale(1.01);
  box-shadow: 0 15px 30px rgb(255, 106, 0);
}

.button-9 {
  background-color: #deddddc0;
  backdrop-filter: blur(10px);
  font-size: 20px;
  font-family: "Platypi", serif;
  border: 2px solid #91919193;
  width: 130px;
  border-radius: 12px;
  padding-left: 10px;
  text-align: center;
  margin-top: 80px;
  color: #130000;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.button-9:hover {
  background-color: #ca9954;
  border: #ca9954;
  color: #000;
}

/* Модалка */
.modal {
  display: none; 
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal.show {
  display: flex;
}

/* Окно */
.modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 20px 30px;
  max-width: 900px;
  width: 100%;
  max-height: 90vh;
  overflow-y: auto; 
  position: relative;
  margin: auto;
}

.close {
  position: absolute;
  right: 10px;
  top: 3px;
  font-size: 35px;
  cursor: pointer;
}

.recipe-title {
  text-align: center;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 22px;
}

.recipe-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.ingredients {
  flex: 1;
}

.ingredients h2 {
  font-size: 21px;
  margin-top: -10px;
}

.ingredients ul {
  margin-top: -20px;
  font-size: 17px;
  list-style: disc inside;
  line-height: 2;
}

.recipe-image img {
  max-width: 400px;
  margin-right: 30px;
  border-radius: 12px;
}

.preparation h2 {
  color: #800000;
  font-weight: bold;
  text-align: center;
  margin-top: -30px;
  margin-bottom: -20px;
}

.preparation ol {
  padding-left: 18px;
  line-height: 1.5;
}

.recipe-image2 img {
  max-width: 320px;
  margin-right: 30px;
  margin-top: 5px;
  border-radius: 12px;
}

h3 {
  margin-top: -4px;
  margin-bottom: -8px;
  font-size: 18px;
  color: #5b0101;
}

.ingredients3 ul {
  margin-top: -25px;
  font-size: 16px;
  list-style: disc inside;
  line-height: 1.5;
}

.ingredients3 h2 {
  margin-top: -15px;
}

.preparation4 h2 {
  color: #800000;
  font-weight: bold;
  text-align: center;
  margin-top: -60px;
  margin-bottom: -20px;
}

.preparation4 {
  line-height: 1.6;
}

.recipe-image4 img {
  max-width: 320px;
  margin-right: 30px;
  margin-top: -25px;
  border-radius: 12px;
}

.recipe-image5 img {
  max-width: 250px;
  margin-right: 30px;
  margin-top: -25px;
  border-radius: 12px;
}

.preparation5 h2 {
  color: #800000;
  font-weight: bold;
  text-align: center;
  margin-top: -150px;
  margin-bottom: -20px;
}

.preparation5 {
  line-height: 1.6;
}
